//FLEX DIRECTIONS

$directions: (
  "row": "row",
  "row-reverse": "row-reverse",
  "col": "column",
  "col-reverse": "column-reverse",
);

@each $key, $value in $directions {
  .flex-#{$key} {
    flex-direction: $value;
  }
}

//WRAPPING
$wrap: ("wrap", "wrap-reverse", "nowrap");

@each $key, $value in $wrap {
  .flex-#{$key} {
    flex-wrap: $value;
  }
}
