$overflow-values: ('auto', 'visible', 'hidden', 'scroll', 'clip');
$coordinates-values: ('x', 'y');

@each $value in $overflow-values {
	.overflow-#{$value} {
		overflow: $value;
	}

	@each $coordinate in $coordinates-values {
		.overflow-#{$coordinate}-#{$value} {
			overflow-#{$coordinate}: $value;
		}
	}
}
