@use "sass:list";
@use "sass:math";
@use "variables";

// CONVERT TO REM
@function strip-unit($num) {
  @return calc($num / calc($num * 0 + 1));
}

@function convert-to-rem($value, $base-value: variables.$rem-base) {
  $value: calc(strip-unit($value) / strip-unit($base-value)) * 1rem;

  @if $value == 0 {
    $value: 0;
  }

  @return $value;
}

@function rem-calc($values, $base-value: variables.$rem-base) {
  $max: list.length($values);

  @if $max == 1 {
    @return convert-to-rem(list.nth($values, 1), $base-value);
  }

  $rem-values: ();

  @for $i from 1 through $max {
    $rem-values: list.append(
      $rem-values,
      convert-to-rem(list.nth($values, $i), $base-value)
    );
  }

  @return $rem-values;
}

// RANDOM NUMBERS
@function random-num($min, $max) {
  $rand: math.random();
  $random-num: $min + math.floor($rand * (($max - $min) + 1));

  @return $random-num;
}
