@use "sass:list";
@use "sass:math";
@use "variables";

@function strip-unit($num) {
  @return calc($num / calc($num * 0 + 1));
}

@function convert-to-rem($value, $base-value: variables.$rem-base) {
  $value: calc(strip-unit($value) / strip-unit($base-value)) * 1rem;

  @if ($value ==0rem) {
    $value: 0;
  }

  @return $value;
}

@function rem-calc($values, $base-value: variables.$rem-base) {
  $max: list.length($values);

  @if $max ==1 {
    @return convert-to-rem(list.nth($values, 1), $base-value);
  }

  $remValues: (
  );

@for $i from 1 through $max {
  $remValues: list.append($remValues, convert-to-rem(list.nth($values, $i), $base-value));
}

@return $remValues;
}

@function randomNum($min, $max) {
  $rand: math.random();
  $randomNum: $min + math.floor($rand * (($max - $min) + 1));

  @return $randomNum;
}
